# Firebase
.firebase/
firebase-debug.log
firebase-debug.*.log
.firebaserc

# Node
node_modules/
npm-debug.log
yarn-error.log

# Functions
functions/lib/
functions/node_modules/

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/

# Logs
logs/
*.log
